protocol direct {
    ipv4;
    ipv6;
    interface "dn42-dummy";
};

protocol babel intra_babel {
    ipv6 {
        import where source != RTS_BGP && is_self_net_v6();
        export where source != RTS_BGP && is_self_net_v6();
    };
{% for name, rxcost in interfaces %}
    interface "{{ name }}" {
        rxcost {{ rxcost }};
        rtt cost 192;
        rtt max 394ms; # 4*96+10ms
        rtt decay 64;
    };
{% endfor %}
};
