[connection]
id={{ conn_id }}
uuid={{ conn_uuid }}
type=wireguard
interface-name={{ ifname }}
autoconnect=true

[wireguard]
private-key={{ private_key }}
{% if listen_port > 0 %}listen-port={{ listen_port }}
{% endif %}peer-routes=false
peers={{ peer_public_key }}{% if endpoint %} endpoint={{ endpoint }}{% endif %} allowed-ips={{ allowed_ips | join(';') }};{% if persistent_keepalive is not none %} persistent-keepalive={{ persistent_keepalive }}{% endif %}

[ipv4]
method=disabled

[ipv6]
method=manual
address1={{ local_ipv6_cidr }}
